body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.input-container {
    margin: 20px;
}

input[type="text"] {
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#nameList {
    margin: 20px;
}

#groups {
    margin: 20px;
}